[project]
	description = This is testing - July 8th
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SANDEEP SHAH (sandeepopenstack)
[access "refs/for/refs/*"]
	read = group user/SANDEEP SHAH (sandeepopenstack)
	push = group user/SANDEEP SHAH (sandeepopenstack)
	label-Code-Review = -2..+2 group user/SANDEEP SHAH (sandeepopenstack)
	label-Verified = -1..+1 group user/SANDEEP SHAH (sandeepopenstack)
	rebase = group user/SANDEEP SHAH (sandeepopenstack)
	removeReviewer = group user/SANDEEP SHAH (sandeepopenstack)
	submit = group user/SANDEEP SHAH (sandeepopenstack)
[access "refs/heads/*"]
	read = group user/SANDEEP SHAH (sandeepopenstack)
	create = group user/SANDEEP SHAH (sandeepopenstack)
	push = +force group user/SANDEEP SHAH (sandeepopenstack)
	pushMerge = group user/SANDEEP SHAH (sandeepopenstack)
[access "refs/tags/*"]
	push = group user/SANDEEP SHAH (sandeepopenstack)
	push = +force group user/SANDEEP SHAH (sandeepopenstack)
