[project]
	description = This is testing - July 8th
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sandeepopenstack
[access "refs/for/refs/*"]
	read = group user/sandeepopenstack
	push = group user/sandeepopenstack
	label-Code-Review = -2..+2 group user/sandeepopenstack
	label-Verified = -1..+1 group user/sandeepopenstack
	rebase = group user/sandeepopenstack
	removeReviewer = group user/sandeepopenstack
	submit = group user/sandeepopenstack
[access "refs/heads/*"]
	read = group user/sandeepopenstack
	create = group user/sandeepopenstack
	push = +force group user/sandeepopenstack
	pushMerge = group user/sandeepopenstack
[access "refs/tags/*"]
	push = group user/sandeepopenstack
	push = +force group user/sandeepopenstack
